<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza list</title>
</head>
<body>
<div class="container">
    <h1>Our Special Pizza Menu</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${pizza_list.size() > 0}" th:each="pizza_list : ${pizza_list}">
            <td th:text="${pizza_list.name}"></td>
            <td th:text="${pizza_list.description}"></td>
            <td th:text="${pizza_list.price}"></td>
            <td><a th:href="@{/pizzeria/{id}(id=${pizza_list.id})}">Details</a></td>
        </tr>
        <tr th:if="${pizza_list.size() == 0}">
            <td colspan="4">No pizzas available</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
